<!-- Footer -->
<footer class="text-center text-lg-start text-white">
    <!-- Section: Social media -->
    <section class="container p-4 border-bottom">
        <div class='row'>
            <div class='col-md-6'>
                <span>Get connected with us on social networks</span>
            </div>
            <div class='col-md-6'>
                <a target="_blank" href="https://facebook.com/dbsdecks" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                  </a>
            </div>
        </div>
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Links
            </h6>
            <p>
              <a routerLink="/home" class="text-reset">Home</a>
            </p>
            <p>
              <a routerLink="/cards" class="text-reset">Card Database</a>
            </p>
            <p>
              <a routerLink="/deck/list" class="text-reset">Deck Database</a>
            </p>
            <p>
              <a routerLink="/deckbuilder" class="text-reset">Deck Builder</a>
            </p>
          </div>

           <!-- Grid column -->
           <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Our Partners
            </h6>
            <p>
              <a target="_blank" href="https://www.facebook.com/imprenta404" class="text-reset">Imprenta 404</a>
            </p>
            <p>
              <a target="_blank" href="https://tcgplayer.com" class="text-reset">TCGPlayer.com</a>
            </p>
          </div>

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p>
              <i class="fas fa-envelope me-3"></i>
              support@dbs-decks.com
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Netdeck Games LLC
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->