<div class="modal-header">
    <p class="modal-title">Create New Deck</p>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <tabset [justified]="true" #formTabs>
        <tab heading="Card List" [ngStyle]="{'height': '500px'}" (selectTab)="onSelectLoginTab($event)">
            
        </tab>
        <tab heading="Filters" [ngStyle]="{'height': '500px'}" (selectTab)="onSelectRegisterTab($event)">
            <!-- User Registration Form is going to go here -->
        </tab>
    </tabset>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" *ngIf="(loginVisible$ | async)" (click)="login()">Login</button>
    <button type="button" class="btn btn-sm btn-danger" *ngIf="!(loginVisible$ | async)"  (click)="register()">Register</button>
</div>
