<div class='modal-header'>
    <h4 class='modal-title'>{{(displayCard$ | async)?.cardName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class='modal-body'>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link cursor-pointer" [class.active]="(view$ | async) == 'leader'" (click)="changeView('leader')">LeaderCard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link cursor-pointer" [class.active]="(view$ | async) == 'main'"  (click)="changeView('main')">Main Deck</a>
        </li>
        <li class="nav-item"  *ngIf="_sideDeck.length">
            <a class="nav-link cursor-pointer" [class.active]="(view$ | async) == 'side'"  (click)="changeView('side')">Side Deck</a>
        </li>
    </ul>
    <ul class="nav nav-pills nav-fill mb-3" *ngIf="(view$ | async) == 'main'">
        <li class="nav-item">
            <a class="nav-link cursor-pointer" [class.active]="(subView$ | async) == 'battle'" (click)="changeSubView('battle')">Battle Cards</a>
        </li>
        <li class="nav-item">
            <a class="nav-link cursor-pointer" [class.active]="(subView$ | async) == 'extra'"  (click)="changeSubView('extra')">Extra Cards</a>
        </li>
        <li class="nav-item" *ngIf="_unisonCards.length">
            <a class="nav-link cursor-pointer" [class.active]="(subView$ | async) == 'unison'"  (click)="changeSubView('unison')">Unison Cards</a>
        </li>
    </ul>
    <div class='row'>
        <div class='col-1 d-flex flex-fill align-items-center justify-content-center cursor-pointer arrow-container' (click)="previousCard()">
            <i class='fa fa-chevron-left text-white presenter-arrow'></i>
        </div>
        <div class='col-10'>
            <div class='row' *ngIf="(view$ | async) == 'leader'">
                <div class='col-md-6'>
                    <app-leader-card [leader]="displayCard$ | async" ></app-leader-card>
                </div>
                <div class='col-md-6'>
                    <p class='text-white mb-1'><strong>Card Text</strong></p>
                    <p class="text-white" [innerHTML]='(displayCard$ | async)!.cardText | cardText'></p>
                </div>
            </div>
            <div class='row' *ngIf="(view$ | async) != 'leader'">
                <div class='col-md-6'>
                    <img class='w-50' [src]="(displayCard$ | async)!.thumbnail | imageString: 0" />
                </div>
                <div class='col-md-6'>
                    <p class="text-white"><strong>Quantity in Deck: </strong>{{(displayCard$ | async)!.qty}}</p>
                    <p class='text-white mb-1'><strong>Card Text</strong></p>
                    <p class="text-white" [innerHTML]='(displayCard$ | async)!.cardText | cardText'></p>
                    <table class='table table-sm text-white'>
                        <tr><td><strong>Card Number</strong></td><td class='text-right'>{{(displayCard$ | async)?.cardNumber}}</td></tr>
                        <tr><td><strong>Card Type</strong></td><td class='text-right'>{{(displayCard$ | async)?.cardType}}</td></tr>
                        <tr><td><strong>Color</strong></td><td class='text-right'>{{(displayCard$ | async)?.color}}</td></tr>
                        <tr><td><strong>Energy Cost</strong></td><td class='text-right'>{{(displayCard$ | async)?.energyColorCost}}</td></tr>
                        <tr *ngIf="(displayCard$ | async)?.power != null">
                            <td><strong>Power</strong></td><td class='text-right'>{{(displayCard$ | async)?.power}}</td>
                        </tr>
                        <tr *ngIf="(displayCard$ | async)?.comboEnergy != null">
                            <td><strong>Combo</strong></td><td class='text-right'>{{(displayCard$ | async)?.comboEnergy}} + {{(displayCard$ | async)?.comboPower}}</td>
                        </tr>
                        <tr *ngIf="(displayCard$ | async)?.era != null">
                            <td><strong>Era</strong></td><td class='text-right'>{{(displayCard$ | async)?.era}}</td>
                        </tr>
                        <tr *ngIf="(displayCard$ | async)?.character != null">
                            <td><strong>Character</strong></td><td class='text-right'>{{(displayCard$ | async)?.character}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class='col-1 d-flex flex-fill align-items-center justify-content-center cursor-pointer arrow-container' (click)="nextCard()">
            <i class='fa fa-chevron-right text-white presenter-arrow'></i> 
        </div>
    </div>
</div>
<div class='modal-footer w-100'>
    <a href="{{(displayCard$ | async)?.url}}?partner=DBSDecks&utm_campaign=affiliate&utm_medium=PresenterLink&utm_source=DBSDecks" 
        target="_blank"
        class='btn btn-orange mr-auto '>Buy on TCGPlayer.com {{(displayCard$ | async)?.price | currency}}</a>
    <button type='button' class='btn btn-danger' (click)="dismiss()">Close</button>
</div>