.presenter-arrow {
    font-size: 28px;
    text-align: center;
}

img {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none; 
}

p, table {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;
}
p {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: .05rem;
}
table {
    font-size: 12px;
}
.arrow-container {
    transition: all .15s ease-in-out;
}
.arrow-container:hover {
    background-color: rgba(255, 255, 255, .1);
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: rgb(255,102,31);
}

.nav-item a {
    color: rgb(255,102,31);
    &:hover {
        color: darken(rgb(255,102,31), 10%);
    }
}
