<div class="container">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="ms-auto btn-group my-0">
                <!-- TODO: Add presentDeck() -->
                <button class="btn btn-white">
                    <i class="fa fa-chalkboard-teacher"></i>
                    <br><span class="tiny-text">Present</span>
                </button>

                <!-- TODO: Add getSampleHand() -->
                <button class='btn btn-white'>
                    <i class='fa fa-layer-group pb-0'></i>
                    <br><span class='tiny-text'>Sample</span>
                </button>
                <!-- deck editing buttons -->
                <button class="btn btn-white" *ngIf=' false' (click)="edit()">
                    <i class="fa fa-pencil pb-0"></i>
                    <br><span class="tiny-text">Edit</span>
                </button>
                <span *ngIf='true'>
                    <button class="btn btn-secondary" (click)="save()" >
                        <i class='fa fa-save'></i>
                        <br><span class='tiny-text'>Save</span>
                    </button>

                    <button class="btn btn-secondary" (click)="cancel()" >
                        <i class='fa fa-ban'></i>
                        <br><span class='tiny-text'>Cancel</span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row mb-3" *ngIf="(deck$ | async)">
        <div class="col">
            <app-view-section
                [editable]="true"
                title="Character"
                deck="main">
            </app-view-section>
        </div>
        <div class="col">
            <app-view-section
                [editable]="true"
                title="Character"
                deck="z">
            </app-view-section>
        </div>
        <div class="col">
            <app-view-section
                [editable]="true"
                title="Side Deck"
                deck="side">
            </app-view-section>
        </div>
    </div>
    
</div>