<main class='container-fluid'>
	<div class='row mt-3'>
		<div class='col-md-6'>
			<div class='social-media-wrapper'>
				<div class='social-media-container d-flex flex-column align-items-center justify-content-between'>
					<a href="https://www.facebook.com/dbsdecks" target="_blank" class='social-media-link facebook d-flex align-items-center justify-content-center'>
						Like us on Facebook!
					</a>
					<a href="https://twitter.com/dbsdecks" target="_blank" class='social-media-link twitter d-flex align-items-center justify-content-center'>
						Follow us on Twitter!
					</a>
					<a href="https://youtube.com/c/dbsdecks" target="_blank" class='social-media-link youtube d-flex align-items-center justify-content-center'>
						Subscribe to our Youtube!
					</a>
					<a href="https://twitch.tv/dbsdecks" target="_blank" class='social-media-link twitch d-flex align-items-center justify-content-center'>
						Follow us on Twitch!
					</a>
				</div>
			</div>
		</div>
		<div class='col-md-6'>
			<iframe src="https://discordapp.com/widget?id=356520476102885388&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
		</div>
	</div>
    <div class='row mt-3 mb-5'>
		
	</div>
</main>
