.card-db-list-item {
    background-color: #222;
    border-color: black !important;
    max-height: 199px;
    overflow: hidden;
    .card-db-image {
        flex: 0 0 0%;
        max-width: 143.28px;
        min-width: 143.28px;
        max-height: 199px;
    }
    .card-db-info {
        flex: 1 1 0%;
        .card-name {
            font-size: 14px;
        }
        .card-db-info-text {
            font-size: 12px;
            margin-top: 10px;
            height: 130px;
            overflow: auto;
        }
    }
}