.card-db-list-item {
    background-color: #222;
    border-color: black !important;
    max-height: 199px;
    overflow: hidden;
    .card-db-image {
        flex: 0 0 0%;
        max-width: 143.28px;
        min-width: 143.28px;
        max-height: 199px;
    }
    .card-db-info {
        flex: 1 1 0%;
        .card-name {
            font-size: 14px;
        }
        .card-db-info-text {
            font-size: 12px;
            margin-top: 10px;
            height: 130px;
            overflow: auto;
        }
    }
}
.filter-btn-wrapper {
    position: fixed;
    left: 25px;
    bottom: 25px;
    z-index: 100;
    .filter-btn {
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        width: 80px;
        height: 80px;
    }
}

.scroll-to-top-btn-wrapper {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 100;
    opacity: 0;
    .scroll-to-top-btn {
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        width: 80px;
        height: 80px;
       
        transition: all .2s ease-in-out;
    }
}
.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}
