<main class='container'>
    <div class='row mt-3'>
        <div class="col-md-12 modal-header">
            <h2>Register</h2>
        </div>
        <section class='col-md-12 p-3'>
            <form [formGroup]="registrationForm" (ngSubmit)="submitRegistration()" novalidate>
                <div class='form-row'>
                    <div class='form-group col-md-6'>
                        <label for="firstName">First Name</label>
                        <input 
                            type="text"
                            class='form-control'
                            [ngClass]="{
                                '' : firstName.pristine,
                                'is-valid' : firstName.dirty && !firstName.errors,
                                'is-invalid':  firstName.dirty && firstName.errors
                            }"
                            id="firstName"
                            name="firstName"
                            formControlName="firstName" 
                            required />
                    </div>
                    <div class='form-group col-md-6'>
                        <label for="lastName">Last Name</label>
                        <input
                            type="text"
                            class='form-control'
                            [ngClass]="{
                                '' : lastName.pristine,
                                'is-valid' : lastName.dirty && !lastName.errors,
                                'is-invalid':  lastName.dirty && lastName.errors
                            }" 
                            id="lastName"
                            name="lastName"
                            formControlName="lastName"
                            required />
                    </div>
                </div>
                <div class='form-row'>
                    <div class='form-group col-md-6'>
                        <label for='userName'>User Name</label>
                        <input
                            type='text'
                            class='form-control'
                            [ngClass]="{
                                '': userName.pristine,
                                'is-valid': userName.dirty && !userName.errors,
                                'is-invalid': userName.dirty && userName.errors
                            }"
                            id='userName'
                            name="userName"
                            formControlName="userName"
                            userNameCheck
                            required />
                        <div class='invalid-feedback' *ngIf="userName.errors?.userNameCheck">
                            {{userName.errors?.userNameCheck}}
                        </div>
                    </div>
                </div>
                <div class='form-row'>
                    <div class='form-group col-md-6'>
                        <label for="password">Password</label>
                        <input 
                            type="password"
                            class='form-control'
                            [ngClass]="{
                                '': password.pristine,
                                'is-valid': password.dirty && !password.errors,
                                'is-invalid': password.dirty && password.errors
                            }"
                            id="password"
                            name="password"
                            formControlName="password"
                            required/>
                    </div>
                    <div class='form-group col-md-6'>
                        <label for="passwordConfirmation">Confirm Password</label>
                        <input
                            type="password"
                            class='form-control'
                            [ngClass]="{
                                '': passwordConfirmation.pristine,
                                'is-valid': passwordConfirmation.dirty && !passwordConfirmation.errors,
                                'is-invalid': passwordConfirmation.dirty && passwordConfirmation.errors
                            }"
                            id="passwordConfirmation"
                            name="passwordConfirmation"
                            formControlName="passwordConfirmation"
                            required/>
                            <div class='invalid-feedback' *ngIf="passwordConfirmation.errors?.mustMatch">
                                Password do not match.
                            </div>
                    </div>
                </div>
                <div class='form-row'>
                    <div class='form-group col-md-6'>
                        <label for="emailAddress">E-mail Address</label>
                        <input
                            type="email"
                            class='form-control'
                            [ngClass]="{
                                '': emailAddress.pristine,
                                'is-valid': emailAddress.dirty && !emailAddress.errors,
                                'is-invalid': emailAddress.dirty && emailAddress.errors
                            }"
                            id="emailAddress"
                            name="emailAddress"
                            formControlName="emailAddress"
                            emailCheck
                            required/>
                        <div class='invalid-feedback' *ngIf="emailAddress.errors?.emailCheck">
                            {{emailAddress.errors?.emailCheck}}
                        </div>
                    </div>
                    <div class='form-group col-md-6'>
                        <label for="emailAddressConfirmation">Confirm E-mail Address</label>
                        <input
                            type="email"
                            class='form-control'
                            [ngClass]="{
                                '': emailAddressConfirmation.pristine,
                                'is-valid': emailAddressConfirmation.dirty && !emailAddressConfirmation.errors,
                                'is-invalid': emailAddressConfirmation.dirty && emailAddressConfirmation.errors
                            }"
                            id="emailAddressConfirmation"
                            name="emailAddressConfirmation"
                            formControlName="emailAddressConfirmation"
                            required/>
                            <div class='invalid-feedback' *ngIf="emailAddressConfirmation.errors?.mustMatch">
                                E-mail addresses do not match.
                            </div>
                    </div>
                </div>
                <button *ngIf="(loading$ | async) !== loadingStatus.IDLE" type='submit' class='btn btn-primary' [disabled]="!registrationForm.valid">Register</button>
            </form>       
        </section>
    </div>
</main>