.trending-leader-wrapper {
    background-color: #000;
    overflow: hidden;
    display: block;
    color: #fff;
    height: 100px;
    border: solid #999 1px;
    box-shadow: 4px 4px 25px 5px rgba(0, 0, 0, 0.75);
    position: relative;
    cursor: pointer;
    transition: all ease-in-out .25s;
    &:hover {
        box-shadow: 4px 4px 5px 1px rgba(255, 255, 150, 0.15);
    }
    p {
        padding: 0;
        z-index: 1;
        position: relative;
        display: block;
        text-shadow: 4px 4px #000;
    }
    .card-name {
        font-size: 1.35rem;
    }
    .leader-count {
        font-size: 1rem;
    }
    .leader-image {
        display: block;
        width: 380px;
        right: 0;
        top: -75px;
        position: absolute;
        clip: rect(50px,380px,200px,50px);
        z-index: 0;
        -webkit-mask-image: linear-gradient(to right, transparent 0%,  transparent 20%, black 100%);
    }
}