<main class='container-fluid' *ngIf="(deck$ | async) as deck">
    <div class='row page-header py-0'>
        <div class='col d-flex'>
            <div class='btn-group mr-auto border-0'>
                <a class='btn btn-warning rounded-0 p-0 px-2' [routerLink]="returnUrl.links" [queryParams]="returnUrl.params">
                    <i class='material-icons mt-1'>backspace</i>
                </a>
                <button class='btn btn-warning rounded-0 p-0 px-2'
                    [class.btn-warning]="view == 'spread'"
                    [class.btn-outline-warning]="view != 'spread'"
                    (click)="view = 'spread'">
                    <i class='material-icons mt-1'>remove_red_eye</i>
                </button>
                <button class='btn btn-warning rounded-0  p-0 px-2'
                    [class.btn-warning]="view == 'list'"
                    [class.btn-outline-warning]="view != 'list'"
                    (click)="view = 'list'">
                    <i class='material-icons mt-1'>view_list</i>
                </button>
            </div>
            <div class='btn-group ml-auto  border-0'>
                <li class="btn btn-secondary p-0 px-1 border-0 rounded-0 d-none d-md-block" ng-bind-html="untap">
                </li>
                 <a class='btn btn-warning rounded-0 p-0 px-2' 
                    [routerLink]="['/deckbuilder']" 
                    [queryParams]="{id : deck.id, action: 'copy' }"
                    (click)="loading = true"
                    *ngIf="!loading">
                     <i class='material-icons mt-1'>file_copy</i>
                 </a>
                 <img src="assets/throbber_13.gif" *ngIf="loading == true" [style.width.px]="28" [style.height.px]="28"/> 
                 <a class='btn btn-warning rounded-0 p-0 px-2' 
                    [routerLink]="['/deckbuilder']" 
                    [queryParams]="{id : deck.id, action: 'edit' }"
                    (click)="loadingEdit = true"
                    *ngIf="!loadingEdit && (loggedIn$ | async) == true && deck.userId == token.id">
                     <i class='material-icons mt-1'>create</i>
                 </a>
                 <img src="assets/throbber_13.gif" *ngIf="loadingEdit == true" [style.width.px]="28" [style.height.px]="28"/> 

                 <a class='btn btn-warning rounded-0 p-0 px-2 cursor-pointer text-dark' 
                    *ngIf="(loggedIn$ | async) == true && deck.userId == token.id && !loadingDelete"
                    (click)="deleteDeck(deck)"
                >
                     <i class='material-icons mt-1'>cancel</i>
                 </a>
                 <img src="assets/throbber_13.gif" *ngIf="loadingDelete == true" [style.width.px]="28" [style.height.px]="28"/> 
             </div>
        </div>
        
    </div>
    <div class='row' *ngIf="errors">
        <div class='col'>
            <ngb-alert class='w-100' type="danger" (close)="errors = false">There was an error when trying to copy/edit the decklist, please try again later</ngb-alert>
        </div>
    </div>
    <div class='row mt-3' *ngIf="view == 'list'">

        <div class='col-md-3'>
            <h5 class='text-light'>{{deck?.title}}</h5>
            <p class='text-light'>{{deck?.leader?.cardName}}</p>
            <img src="{{deck?.leader?.imageUrl[1]}}" class='w-50 rounded-img'/>
            <img src="{{deck?.leader?.imageUrl[0]}}" class='w-50 rounded-img'/>
        </div>
        <div class='col-md-3'>
            <h5 class='text-light'>Main Deck</h5>
            <app-deck-view-list [deckList]="deck?.mainDeckList" [prices]="deck?.prices" *ngIf="deck?.mainDeckList"></app-deck-view-list>
        </div>
        <div class='col-md-3'>
            <h5 class='text-light'>Side Deck</h5>
            <app-deck-view-list [deckList]="deck?.sideDeckList" [prices]="deck?.prices" *ngIf="deck?.sideDeckList"></app-deck-view-list>
        </div>
        <div class='col-md-3'>
            <app-card-chart [cardTypeData]="deck?.mainDeckList"></app-card-chart>
            <app-color-chart [cardColorData]="deck?.mainDeckList"></app-color-chart>
        </div>
    </div>
    <div class='row mt-3' *ngIf="view =='spread'">
        <div class='col-md-2'>
            <p class='text-light'>{{deck?.leader?.cardName}}</p>
            <div class='d-flex justify-content-center'>
                <img src="{{deck?.leader?.imageUrl[1]}}" class='w-50 rounded-lg'/>
                <img src="{{deck?.leader?.imageUrl[0]}}" class='w-50 rounded-lg'/>
            </div>
        </div>
        <div class='col-md-7'>
            <h5 class='text-light'>Main Deck</h5>
            <app-deck-view-spread [deckList]="deck?.mainDeckList" [prices]="deck?.prices"  *ngIf="deck?.mainDeckList"></app-deck-view-spread>
        </div>
        <div class='col-md-3'>
            <h5 class='text-light'>Side Deck</h5>
            <app-deck-view-spread [deckList]="deck?.sideDeckList" [prices]="deck?.prices" sideDeck="true" *ngIf="deck?.sideDeckList"></app-deck-view-spread>
        </div>
    </div>
</main>