login-component{
    .container{
        max-width: 600px;
        h2{
            color:#f8f9fa;
        }
        label{
            color:#f8f9fa;
        }
        .forgot{
            color: #f8f9fa;
            &:hover{
                cursor: pointer;
            }
        }
    }
}