<main class='container-fluid'>
    <div class='row my-3'>
        <section class='col'>
            <article class='card p-3 bg-super-dark border-color-super-dark'>
                <form>
                    <div class='row'>
                        <div class='col-md-4 col-lg-3'>
                            <input 
                            class='form-control form-control-sm rounded-0 mt-1'
                            type='text'
                            name="searchInput"
                            placeholder='Search by username'
                            id="searchInput"
                            [(ngModel)]="filter"
                            />
`
                        </div>
                        <div class='col-md-4 col-lg-3'>
                            <select 
                                *ngIf="deckListsLoaded"
                                name="leader"
                                class="form-control form-control-sm rounded-0 mt-1"
                                [(ngModel)]="selectedLeader"
                                (ngModelChange)="selectLeader($event)"
                                placeholder="Search by username"
                                
                            >
                            <option [ngValue]=''>-- See All --</option>
                                <option
                                    *ngFor="let leader of leadersLists; let n = index"
                                    [ngValue]="leader">
                                        {{leader.cardName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </article>
        </section>
    </div>
    <div class='row'>
        <div class='col-md-4 col-lg-3'>
        </div>
    </div>
    <div class='row'>
        <section class='col-md-6' >
            <div class="recent-decks" *ngIf="deckListsLoaded">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Community Decks</h2>
                    </div>
                    <div class="col-md-12">
                    </div>
                    <div class="col-md-12">
                        <pagination-controls (pageChange)="page = $event"></pagination-controls>
                        <table class="table table-striped">
                            <tbody>
                                <tr *ngFor="let deckList of deckLists  | orderBy: key : reverse | filter:filter | filter:selectedLeaderName | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index">
                                    <td>
                                        <a routerLink="/deck/view/{{deckList.id}}">
                                            <span class="primaryLine">{{deckList.title}}</span>
                                            <br/><span class="secondaryLine">Posted by: {{deckList.userId}} on {{deckList.submitDate}}</span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>  
                    </div>
                </div>   
            </div>
        </section>
        <section class='col d-block d-sm-none my-2'></section>
		<section class='col-md-3'>
        </section>
        <section class='col d-block d-sm-none my-2'></section>
		<section class='col-md-3'>
		</section>
    </div>
</main>