<main class='container-fluid'>
    <div class='row my-3'>
        <section class='col'>
            <article class='card p-3 bg-super-dark border-color-super-dark'>
                <form>
                    <div class='row'>
                        <div class='col-md-4 col-lg-3'>
                            <input type='text' class='form-control form-control-sm rounded-0 mt-1' placeholder='Search by username'/>
                        </div>
                        <div class='col-md-4 col-lg-3'>
                            <select class='form-control form-control-sm rounded-0 mt-1' placeholder='Search by username'>
                                <option value="" selected="selected">-- Leader Card --</option>
                                <option>test</option>
                            </select>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col'>
                            <div class='btn-group mt-2'>
                                <button class='btn btn-success btn-sm d-block rounded-0' type="submit">Apply</button>
                                <button class='btn btn-danger btn-sm d-block rounded-0' type="reset" >Clear</button>
                            </div>
                        </div>
                    </div>
                </form>
            </article>
        </section>
    </div>
    <div class='row'>
        <div class='col-md-4 col-lg-3'>
        </div>
    </div>
    <div class='row'>
        <section class='col-md-6' >
            <div class="recent-decks" *ngIf="deckListsLoaded">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Community Decks</h2>
                    </div>
                    <div class="col-md-12">
                    </div>
                    <div class="col-md-12">
                        <pagination
                            [boundaryLinks]="showBoundaryLinks" 
                            [directionLinks]="showDirectionLinks" 
                            [totalItems]="total"
                            [itemsPerPage]="10"
                            [maxSize]=maxSize
                            (pageChanged)="pageChanged($event)">
                        </pagination>
                        <table class="table table-striped">
                            <tbody>
                                <tr *ngFor="let deckList of returnedDeckList">
                                    <td><span class="primaryLine">{{deckList.title}}</span>
                                     <br/><span class="secondaryLine">Posted by: {{deckList.userId}} on {{deckList.submitDate}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>  
                    </div>
                </div>   
            </div>
        </section>
        <section class='col d-block d-sm-none my-2'></section>
		<section class='col-md-3'>
        </section>
        <section class='col d-block d-sm-none my-2'></section>
		<section class='col-md-3'>
		</section>
    </div>
</main>