<ul class='list-group border-0 bg-none'> 
    <a href="{{d.url}}?partner=DBSDecks&utm_campaign=affiliate&utm_medium=DeckListView&utm_source=DBSDecks" 
        class='list-group-item d-flex justify-content-between py-1 pl-1 pr-1  m-0 border-0 small'
        [ngClass]='utility.cardListItemBackground(d.color)'
        target="_blank"
        *ngFor="let d of deckList" >
        <div class='d-flex flex-fill justify-content-between'>
            <div class='d-flex'>
                <div class='mr-2 font-weight-bold'>{{d.count}}</div>
                <div>{{d.cardName}}</div>
            </div>
            <div>{{d.lowPrice * d.count | currency}}</div>
        </div>
    </a>
</ul>	