.side-nav-wrapper {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	transition: all 0.1;
	overflow-x: hidden;
	.side-nav-overlay {
		height: 100%;
		width: 100%;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		overflow-x: hidden;
		transition: background 0.2s 0.2s;
		background: rgba(0, 0, 0, 0);
		.side-nav-menu {
			height: 100%;
			width: 50%;
			top: 0;
			left: 0;
			position: absolute;
			display: block;
			background: white;
			padding: 6px;
			transition: 0.2s;
			transform: translateX(-101%);
			animation-delay: 2s;
			.side-nav-menu-header {
				display: flex;
				flex-direction: row;
				flex: fill;
				p {
					flex-grow: 2;
					margin: 0px 6px 6px 0px;
				}
				.close-btn {
					background: 0;
					border: none;
					font-size: 24px;
                    padding: 0;
                    line-height: 0;
                    margin: {
                        top : -10px;
                    }
					cursor: pointer;
				}
			}
		}
	}
}

.open.side-nav-wrapper {
	display: block;
	z-index: 1;
	.side-nav-overlay {
		background: rgba(0, 0, 0, 0.5);
		animation-delay: 0.1s;
		.side-nav-menu {
			transform: translateX(0%);
		}
	}
}
