/* Importing Bootstrap SCSS file. */
@import "./styles/styles";
/* You can add global styles to this file, and also import other style files */
html {
  display: flex; flex-direction: column; height: 100%; 
}

body {
  background: #111;
  background-image: url("/assets/img/cards-only-trans.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
  display: flex; flex-direction: column; height: 100%; 
}

.text-decor-none {
  text-decoration: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.page-header {
  background: linear-gradient(to right, #fcba03 5px, black 5px, black);
  color: white;
  padding: 4px 20px;
}

.bg-super-dark {
  background-color: #222;
}

.border-color-super-dark {
  border-color: black !important;
}

.highlight-text {
  mark {
    padding: 0 0.2em !important;
  }
  line-height: 1;
  &.auto {
    mark {
      background-color: #1d9be1;
      color: #ffffff !important;
    }
  }
  &.green {
    mark {
      background-color: #1d9045;
      color: #ffffff !important;
    }
  }
  &.main {
    mark {
      background-color: #eb7426;
      color: #ffffff !important;
    }
  }
  &.red {
    mark {
      background-color: #de001e;
      color: #ffffff !important;
    }
  }
  &.pink {
    mark {
      background-color: #dc0073;
      color: #ffffff !important;
    }
  }
  &.yellow {
    mark {
      background-color: #ffef02;
      color: #000000 !important;
    }
  }
}
.btn {
  &.btn-theme {
    background-color: #f67b0b;
    border-color: #f67b0b;
  }
}
.close {
  color: #f7f7f7;
  &:hover {
    transition: 0.15s all linear;
    color: darken(#f7f7f7, 25%);
  }
  &:focus {
    border: none;
  }
}

.list-group-item-danger-primary {
  background: linear-gradient(to right, #f5c6cb, #b8daff);
  color: #000 !important;
}

.list-group-item-danger-success {
  background: linear-gradient(to right, #f5c6cb, #c3e6cb);
  color: #000 !important;
}

.list-group-item-danger-warning {
  background: linear-gradient(to right, #f5c6b6, #ffeeba);
  color: #000 !important;
}

.list-group-item-primary-success {
  background: linear-gradient(to right, #bad8ff, #c3e6cb);
  color: #000 !important;
}

.list-group-item-primary-warning {
  background: linear-gradient(to right, #b8daff, #ffeeba);
  color: #000 !important;
}

.list-group-item-success-warning {
  background: linear-gradient(to right, #c3e6cb, #ffeeba);
  color: #000 !important;
}
.list-group-item-dark-danger {
  background: linear-gradient(to right, #f5c6cb, #c6c8ca);
  color: #000 !important;
}
.list-group-item-dark-primary {
  background: linear-gradient(to right, #b8daff, #c6c8ca);
  color: #000 !important;
}
.list-group-item-dark-success {
  background: linear-gradient(to right, #c3e6cb, #c6c8ca);
  color: #000 !important;
}
.list-group-item-dark-warning {
  background: linear-gradient(to right, #ffeeba, #c6c8ca);
  color: #000 !important;
}
.dropdown-menu {
  background-color: #343a40 !important;
  &.show {
    z-index: 5000;
  }
}
.dropdown-item {
  &:hover {
    background: darken(#343a40, 10%);
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rounded-lg {
  border-radius: 10px !important;
}
.tooltip {
  opacity: 1 !important;
}
.tooltip-inner {
  max-width: 400px !important;
  opacity: 1 !important;
  text-align: left !important;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}