decklist-view{
    h1, p{
        color:cornsilk;
    }
    .main-deck{
        .quantity{
            position:relative;
            margin-top:15px;
            margin-bottom:-15px;
            z-index: 100;
            .qtyColor{
                background-color:red;
                padding:4px 10px;
                border-radius:50%;
                font-weight: bold;
            }
        }
        
        img{
            width:100%;
        }
    }
}