decklist-view{
    p {
        color:cornsilk;
    }
    h1 {
        color:cornsilk;
        font-size: 1.5rem;
        @media(min-width: 692px) {
            font-size: 2.5rem;
        }
    }
    .main-deck{
        .quantity{
            position:relative;
            margin-top:15px;
            margin-bottom:-15px;
            z-index: 100;
            .qtyColor{
                background-color:red;
                padding:4px 10px;
                border-radius:50%;
                font-weight: bold;
            }
        }
        
        img{
            width:100%;
        }
    }
}