<div class='p-2 bg-super-dark border-color-super-dark'>
    <h1>{{deckInfo.title}}</h1>
    <p>Main: {{deckList?.mainDeck?.length}} Side: {{deckList?.sideDeck?.length}}</p>
</div>
<div class="container-fluid">
    <div class="main-deck">
        <div class="row">
            <div class="col-md-12">
                <app-deck-layout *ngIf="(mainDeck$ | async)?.length"
                [leader]="leader$ | async"
                [mainDeck]="mainDeck$ | async"
                [sideDeck]="sideDeck$ | async"></app-deck-layout>
            </div>
        </div>
    </div>
</div>