<div class="modal-header">
    <p class="modal-title">Create New Deck</p>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body" [ngStyle]="{'height': '500px'}">
    <app-side-nav>
        <form [formGroup]="cardFilters">
            <input type="text" class='form-control' formControlName="name" placeholder="Leader Name"/>
        </form>
    </app-side-nav>
    <div class="col" [ngStyle]="{'height': '475px'}">
        <ng-scrollbar>
            <div class="row">
                <div class="col-md-4 mb-1" *ngFor="let card of (cards$ | async)">
                    <img [src]="cardImage(card.imageUrl)" class='w-100 leader-card' 
                        (click)="select(card, 4)" />
                </div>
            </div>
        </ng-scrollbar>
    </div>

</div>
<div class="modal-footer d-flex justify-content-between">
    <button type="button" class="'btn btn-sm btn-warning pull-left" (click)="openFilters()"><i class="fas fa-filter"></i></button>
</div>
