<div class='row d-flex deck-spread px-3'>

    <!-- have a tooltip for larger devices -->
    <div class='deck-card d-none d-md-block' [class.side-deck-card]="sideDeck" *ngFor="let d of deckList">
        <ng-template #cardBody>
            <h5 class='text-light '>{{d?.cardName}}</h5>
            <p class='text-light'>{{d?.cardNumber}}</p>
            <p class='text-light' [innerHTML]='d?.cardText | cardText'></p>
        </ng-template>
        <img
        src="{{d?.imageUrl}}" class="w-100 rounded-img"
        [ngbTooltip]="cardBody"
        [openDelay]="300"
        triggers="mouseenter:mouseleave"
        container='body'
        [placement]="['left', 'auto']"/>
        <span class="badge badge-light">{{d.count}}</span>
    </div>

    <!-- have a modal display for mobile devices -->
    <div class='deck-card d-block d-md-none' [class.side-deck-card]="sideDeck" *ngFor="let d of deckList">
        <img src="{{d?.imageUrl}}" class="w-100 rounded-img" (click)="openCardInfo(d)" />
        <span class="badge badge-light">{{d.count}}</span>
    </div>
</div>
