 <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
        <a class='navbar-brand pt-0 pr-3 border-right border-white' routerLink="/">
            <img src="/assets/img/logo_sm.png"/>
        </a>
        <button class="navbar-toggler" type="button" (click)="navbarCollapse = !navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse" [class.collapse]="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/decks">Decks</a>
                </li>
                <li class="nav-item d-lg-none">
                  <a class="nav-link" routerLinkActive="active" routerLink="/user/portal">Portal</a>
                </li>
                <li class="nav-item d-lg-none">
                  <a class="nav-link cursor-pointer" (click)="logout()">Logout</a>
                </li>
            </ul>
            <div class="d-none d-lg-flex" *ngIf="!(authenticated$ | async)">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/user/login">Login</a>
                </li>
              </ul>
            </div>
            <div class="d-none d-lg-flex"  *ngIf="(authenticated$ | async)">
              <button class="btn btn-success"  (click)="profileCollapse = !profileCollapse" type="button" data-bs-toggle="collapse" data-bs-target="#userLoginToggle" aria-controls="userLoginToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
        </div>
    </div>
</nav>
<div class='navbar-collapse bg-success px-4' [class.collapse]="profileCollapse" id="userLoginToggle" *ngIf="(authenticated$ | async)">
  <div class="container d-none d-lg-block">
    <div class="d-flex flex-row-reverse">
      <ul class="navbar-nav mb-2 mr-auto mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link text-light" routerLinkActive="active" routerLink="/user/portal">Portal</a>
        </li>
        <li class="nav-item text-white">
          <a class="nav-link cursor-pointer text-light" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<footer class="text-center text-lg-start text-white border-top">
    <section>
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-4 offset-md-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Social
            </h6>
            <p>
              <a target="_blank" href="https://facebook.com/dbsdecks" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
              </a>
            </p>
          </div>
           <div class="col-md-4 offset-md-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Our Partners
            </h6>
            <p>
              <a target="_blank" href="https://www.facebook.com/imprenta404" class="text-reset">Imprenta 404</a>
            </p>
            <p>
              <a target="_blank" href="https://tcgplayer.com" class="text-reset">TCGPlayer.com</a>
            </p>
          </div>
          <div class="col-md-4 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p>
              <i class="fas fa-envelope me-3"></i>
              <a class="ml-2 text-reset" href="mailto:support@dbs-decks.com">support@dbs-decks.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © {{today | date:'yyyy' }} Netdeck Games LLC
  </div>
</footer>