.card {
  background-color: #000;
  border: none;
  border-radius: 0;
  .card-header {
    color: #fff;
    background-color: #111;
  }
  .card-body {
    transition: all .5s ease;
  }
}
.card-filter {
  user-select: none;
}
.color-circle {
  width: 20px;
  height: 20px;
  margin: 0 15px 0 5px ;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  &.red {
      background: #AE1712;
  }
  &.blue {
      background: #2C7093;
  }
  &.green {
      background: #398D48;
  }
  &.yellow {
      background: #EACB19;
  }
  &.black {
      border: solid 1px #fff;
      background: #0F0F0F;
  }
  &.red-green {
      background: linear-gradient(135deg, #AE1712, #AE1712 50%, #398D48 50%, #398D48); 
  }
  &.blue-yellow {
      background: linear-gradient(135deg, #2C7093, #2C7093 50%, #EACB19 50%, #EACB19); 
  }
  &.red-yellow {
      background: linear-gradient(135deg, #AE1712, #AE1712 50%, #EACB19 50%, #EACB19); 
  }
  &.blue-green {
      background: linear-gradient(135deg, #2C7093, #2C7093 50%, #398D48 50%, #398D48); 
  }
  &.blue-red {
      background: linear-gradient(135deg, #2C7093, #2C7093 50%, #AE1712 50%, #AE1712); 
  }
  &.green-yellow {
      background: linear-gradient(135deg, #398D48, #398D48 50%, #EACB19 50%, #EACB19); 
  }
  &.red-black {
      border: solid 1px #fff;
      background: linear-gradient(135deg, #AE1712, #AE1712 50%, #0F0F0F 50%, #0F0F0F); 
  }
  &.blue-black {
      border: solid 1px #fff;
      background: linear-gradient(135deg, #2C7093, #2C7093 50%, #0F0F0F 50%, #0F0F0F); 
  }
  &.green-black {
      border: solid 1px #fff;
      background: linear-gradient(135deg, #398D48, #398D48 50%, #0F0F0F 50%, #0F0F0F); 
  }
  &.yellow-black {
      border: solid 1px #fff;
      background: linear-gradient(135deg, #EACB19, #EACB19 50%, #0F0F0F 50%, #0F0F0F); 
  }
}
.deck-list-column {
  transition: all .5s ease;
  max-width: 0%;
  position: relative;
  overflow: hidden;
  padding: 0;
  &.open {
    max-width: 100%;
    padding: {
      top: 5px;
      left: 15px;
      right: 15px;
      bottom: 5px;
    }
    @media (min-width: 576px) {
      max-width: 25%;
    }
  }
  .close-tab {
    padding: 5px;
    width: 20px;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: -20px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
  }
}

.card-list-column {
  transition: all .5s ease;
  max-width: 100%;
  flex: 0 0 100%;
  position: relative;
  overflow: hidden;
  &.open {
    max-width: 0%;
    padding: 0;
    @media (min-width: 576px) {
      max-width: 75%;
      flex: 0 0 75%;
    }

    @media (min-width: 992px) {
      max-width: 75%;
      flex: 0 0 75%;
    }
  }
}
.card-wrapper {
  width: 143px;
  @media (min-width: 442px) {
    width: 200px;
  }
  display: inline-block;
  margin: 0 auto;
  .card-wrapper-image {
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}

.filter-btn-wrapper {
  position: fixed;
  left: 25px;
  bottom: 25px;
  z-index: 100;
  .filter-btn {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    width: 80px;
    height: 80px;
  }
}

.mode-btn-wrapper {
  position: fixed;
  left: 25px;
  bottom: 110px;
  z-index: -1;
  .mode-btn {
    border-radius: 50%;
    cursor: pointer;
    width: 80px;
    height: 80px;
    font-size: 14px;
  }
}

.scroll-to-top-btn-wrapper {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 100;
  opacity: 0;
  .scroll-to-top-btn {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    width: 80px;
    height: 80px;

    transition: all 0.2s ease-in-out;
  }
}
.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}

.list-group-item-danger-primary {
  background: linear-gradient(to right, #f5c6cb, #b8daff);
  color: #000 !important;
}

.list-group-item-danger-success {
  background: linear-gradient(to right, #f5c6cb, #c3e6cb);
  color: #000 !important;
}

.list-group-item-danger-warning {
  background: linear-gradient(to right, #f5c6b6, #ffeeba);
  color: #000 !important;
}

.list-group-item-primary-success {
  background: linear-gradient(to right, #bad8ff, #c3e6cb);
  color: #000 !important;
}

.list-group-item-primary-warning {
  background: linear-gradient(to right, #b8daff, #ffeeba);
  color: #000 !important;
}

.list-group-item-success-warning {
  background: linear-gradient(to right, #c3e6cb, #ffeeba);
  color: #000 !important;
}
