<div class='row'>
    <div class="col">
        <h5 class='text-light'>{{sectionTitle}}</h5>
        <ul class='list-group' *ngIf="_deck?.length && deck?.length">
            <a href="{{card?.url}}?partner=DBSDecks&utm_campaign=affiliate&utm_medium=DeckListView&utm_source=DBSDecks" 
                [ngClass]="{
                    'list-group-item-danger': card?.color == 'Red',
                    'list-group-item-primary': card?.color == 'Blue',
                    'list-group-item-success' : card?.color == 'Green',
                    'list-group-item-warning' : card?.color == 'Yellow',
                    'list-group-item-dark' : card?.color == 'Black',
                    'list-group-item-danger-primary' : card?.color == 'Blue;Red',
                    'list-group-item-danger-success' : card?.color == 'Green;Red',
                    'list-group-item-danger-warning' : card?.color == 'Red;Yellow',
                    'list-group-item-primary-success' : card?.color == 'Blue;Green',
                    'list-group-item-primary-warning' : card?.color == 'Blue;Yellow',
                    'list-group-item-success-warning' : card?.color == 'Green;Yellow',
                    'list-group-item-dark-danger' : card?.color == 'Black;Red',
                    'list-group-item-dark-primary' : card?.color == 'Black;Blue',
                    'list-group-item-dark-success' : card?.color == 'Black;Green',
                    'list-group-item-dark-warning' : card?.color == 'Black;Yellow'}"
                class='list-group-item d-flex justify-content-between py-1 pl-1 pr-1 m-0 border-0 small text-decor-none'
                target="_blank"
                *ngFor="let card of _deck" >
                <div class='d-flex flex-fill justify-content-between'>
                    <div class='d-flex'>
                        <div class='mr-2 font-weight-bold'>{{card?.qty}}</div>
                        <div>{{card?.cardName}}</div>
                    </div>
                    <div>{{ card.price | currency }}</div>
                </div>
            </a>
        </ul>
    </div>
</div>