<div class="row my-3">
    <section class="col">
        <div class='row'>
            <div class='col-md-3' *ngIf="leader">
                <h4 class='text-light'>{{leader.cardName}}</h4>
                <img *ngIf="leader?.thumbnail" class='leader-image rounded-img w-50' [src]="leader.thumbnail | imageString: 0" />
                <img *ngIf="leader?.thumbnail" class='leader-image rounded-img w-50' [src]="leader.thumbnail | imageString: 1" />
                <small><p [innerHTML]='leader.cardText | cardText' class='d-none d-md-block text-white'></p></small>
            </div>
            <div class='col-md-9'>  
                <div class="row">
                    <div class="col-md-6">
                        <h5 class='text-light'>Main Deck ({{ mainDeck?.length }})</h5>
                        <ul class='list-group' *ngIf="_mainDeck?.length">
                            <a href="{{card?.url}}?partner=DBSDecks&utm_campaign=affiliate&utm_medium=DeckListView&utm_source=DBSDecks" 
                                [ngClass]="{
                                    'list-group-item-danger': card?.color == 'Red',
                                    'list-group-item-primary': card?.color == 'Blue',
                                    'list-group-item-success' : card?.color == 'Green',
                                    'list-group-item-warning' : card?.color == 'Yellow',
                                    'list-group-item-dark' : card?.color == 'Black',
                                    'list-group-item-danger-primary' : card?.color == 'Blue;Red',
                                    'list-group-item-danger-success' : card?.color == 'Green;Red',
                                    'list-group-item-danger-warning' : card?.color == 'Red;Yellow',
                                    'list-group-item-primary-success' : card?.color == 'Blue;Green',
                                    'list-group-item-primary-warning' : card?.color == 'Blue;Yellow',
                                    'list-group-item-success-warning' : card?.color == 'Green;Yellow',
                                    'list-group-item-dark-danger' : card?.color == 'Black;Red',
                                    'list-group-item-dark-primary' : card?.color == 'Black;Blue',
                                    'list-group-item-dark-success' : card?.color == 'Black;Green',
                                    'list-group-item-dark-warning' : card?.color == 'Black;Yellow'}"
                                class='list-group-item d-flex justify-content-between py-1 pl-1 pr-1 m-0 border-0 small text-decor-none'
                                target="_blank"
                                *ngFor="let card of _mainDeck" >
                                <div class='d-flex flex-fill justify-content-between'>
                                    <div class='d-flex'>
                                        <div class='mr-2 font-weight-bold'>{{card?.qty}}</div>
                                        <div>{{card?.cardName}}</div>
                                    </div>
                                    <div>{{ 0 | currency }}</div>
                                </div>
                            </a>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h5 class='text-light'>Side Deck ({{ sideDeck?.length }})</h5>
                        <ul class='list-group'>
                            <a href="{{card?.url}}?partner=DBSDecks&utm_campaign=affiliate&utm_medium=DeckListView&utm_source=DBSDecks" 
                                [ngClass]="{
                                    'list-group-item-danger': card?.color == 'Red',
                                    'list-group-item-primary': card?.color == 'Blue',
                                    'list-group-item-success' : card?.color == 'Green',
                                    'list-group-item-warning' : card?.color == 'Yellow',
                                    'list-group-item-dark' : card?.color == 'Black',
                                    'list-group-item-danger-primary' : card?.color == 'Blue;Red',
                                    'list-group-item-danger-success' : card?.color == 'Green;Red',
                                    'list-group-item-danger-warning' : card?.color == 'Red;Yellow',
                                    'list-group-item-primary-success' : card?.color == 'Blue/Green',
                                    'list-group-item-primary-warning' : card?.color == 'Blue;Yellow',
                                    'list-group-item-success-warning' : card?.color == 'Green;Yellow'}"
                                class='list-group-item d-flex justify-content-between py-1 pl-1 pr-1 m-0 border-0 small text-decor-none'
                                target="_blank"
                                *ngFor="let card of _sideDeck" >
                                <div class='d-flex flex-fill justify-content-between'>
                                    <div class='d-flex'>
                                        <div class='mr-2 font-weight-bold'>{{card?.qty}}</div>
                                        <div>{{card?.cardName}}</div>
                                    </div>
                                    <div>{{ 0 | currency }}</div>
                                </div>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class='row' *ngIf="_mainDeck?.length">
            <div class='col-md-12'>
                <h4 class='text-light'>Main Deck</h4>
            </div>
            <div class='col-6 col-md-2 mb-3' *ngFor="let card of _mainDeck">
                <div class='card-wrapper d-flex flex-column justify-content-center'>
                    <div class='card-wrapper-image'>
                        <img class='rounded-img' src="{{card.thumbnail | imageString : 0 }}" (click)="showCardInfo(card)"/>
                    </div>
                    <div class='card-wrapper-buttons w-100'>
                        <div class='btn-group d-inline-block d-flex w-100'>
                            <span class='badge badge-dark'>{{card.qty}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row' *ngIf="_sideDeck?.length">
            <div class='col-md-12'>
                <h4 class='text-light'>Side Deck</h4>
            </div>
            <div class='col-6 col-md-2 mb-3' *ngFor="let card of _sideDeck">
                <div class='card-wrapper d-flex flex-column justify-content-center'>
                    <div class='card-wrapper-image'>
                        <img class='rounded-img' src="{{card.thumbnail | imageString : 0}}" (click)="showCardInfo(card)"/>
                    </div>
                    <div class='card-wrapper-buttons w-100'>
                        <div class='btn-group d-inline-block d-flex w-100'>
                            <span class='badge badge-dark'>{{card.qty}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>