.color-circle {
    width: 20px;
    height: 20px;
    margin: 0 15px 0 5px ;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    &.red {
        background: #AE1712;
    }
    &.blue {
        background: #2C7093;
    }
    &.green {
        background: #398D48;
    }
    &.yellow {
        background: #EACB19;
    }
    &.black {
        border: solid 1px #fff;
        background: #0F0F0F;
    }
    &.red-green {
        background: linear-gradient(135deg, #AE1712, #AE1712 50%, #398D48 50%, #398D48); 
    }
    &.blue-yellow {
        background: linear-gradient(135deg, #2C7093, #2C7093 50%, #EACB19 50%, #EACB19); 
    }
    &.red-yellow {
        background: linear-gradient(135deg, #AE1712, #AE1712 50%, #EACB19 50%, #EACB19); 
    }
    &.blue-green {
        background: linear-gradient(135deg, #2C7093, #2C7093 50%, #398D48 50%, #398D48); 
    }
    &.blue-red {
        background: linear-gradient(135deg, #2C7093, #2C7093 50%, #AE1712 50%, #AE1712); 
    }
    &.green-yellow {
        background: linear-gradient(135deg, #398D48, #398D48 50%, #EACB19 50%, #EACB19); 
    }
    &.red-black {
        border: solid 1px #fff;
        background: linear-gradient(135deg, #AE1712, #AE1712 50%, #0F0F0F 50%, #0F0F0F); 
    }
    &.blue-black {
        border: solid 1px #fff;
        background: linear-gradient(135deg, #2C7093, #2C7093 50%, #0F0F0F 50%, #0F0F0F); 
    }
    &.green-black {
        border: solid 1px #fff;
        background: linear-gradient(135deg, #398D48, #398D48 50%, #0F0F0F 50%, #0F0F0F); 
    }
    &.yellow-black {
        border: solid 1px #fff;
        background: linear-gradient(135deg, #EACB19, #EACB19 50%, #0F0F0F 50%, #0F0F0F); 
    }
}
